{% extends "base.html" %} 

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>База знаний</h1>

     <div style="margin-bottom: 20px;">
        {% if login %}
            <p>Добро пожаловать, <strong>{{ login }}</strong>!</p>
        {% else %}
            <p>Добро пожаловать, <strong>Гость</strong>!</p>
        {% endif %}
    </div>

    
    <nav style="margin-bottom: 20px;">
        <a href="/lab5/list" style="margin-right: 15px;">Список статей</a>
        <a href="/lab5/create" style="margin-right: 15px;">Создать статью</a>
        
        {% if login %}
            <a href="/lab5/logout" style="margin-right: 15px;">Выйти</a>
            <span>Пользователь: {{ login }}</span>
        {% else %}
            <a href="/lab5/login" style="margin-right: 15px;">Войти</a>
            <a href="/lab5/register">Регистрация</a>
        {% endif %}
    </nav>
{% endblock %}