{% extends "base.html" %} {# номер лабораторной работы: #} {% block lab
%}Лабораторная работа 2{% endblock %} {# основной контент: #} {% block main %}

<h2>Список цветов</h2>

<ol>
    {% for flower in flowers %}
    <li>
        {{ flower.name }} - {{ flower.price }} руб 
        <a href="{{ url_for('lab2.delete_flower', flower_id=loop.index0) }}">удалить</a>
    </li>
    {% endfor %}
</ol>

<a href="{{ url_for('lab2.clear_flowers') }}"><strong>Удалить все цветы</strong></a>

<hr>

<h3>Добавить цветок:</h3>
<form action="{{ url_for('lab2.add_flower_post') }}" method="post">
    <input type="text" name="name" placeholder="Название цветка">
    <input type="number" name="price" placeholder="Цена">
    <button type="submit">добавить</button>
</form>

{% endblock %}